.footer-wrp{
	position: relative;
	padding-top: 40px;
}
.footer-wrp:after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	height: 32px;
	background: #322829;
}
.footer-top{
	/*background-color: #2b3e1e;*/
	padding-top: 60px;
	background-repeat: repeat;
	background-image: url('../images/green-overlay.png');
	background-size: cover;
	padding-bottom: 210px;
}
.footer-top-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.ftr-col{
	padding-right: 10px;
}
.ftr-col:last-of-type{
	padding-right: 0;
}
.ftr-col-02{
	margin-left: auto;
	margin-right: auto;
}
.ftr-col-04{
	display: none;
	flex-wrap: wrap;
}
.fl-h4.ftr-col-title{
	color: #e0b86f;
	font-weight: 400;
	margin-bottom: 25px;
	line-height: 1;
}
.ftr-col-information{

}
.ftr-col-information ul{
	margin: 0 0 28px 0!important;
	padding: 0!important;
	list-style: none!important;
}
.ftr-col-information ul li{
	padding: 0 0 5px 15px!important;
	margin: 0!important;
	list-style: none!important;
	margin: 0!important;
	line-height: 1!important;
	color: #ffeac3;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	position: relative;
}
.ftr-col-information ul li:before{
	content: none!important;
}
.ftr-col-information ul li:after{
	position: absolute;
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50% 50%;
	background: #ffeac3;
	top: 7px;
	left: 0;
}
.ftr-col-information ol li a,
.ftr-col-information ul li a{
	display: inline-block;
	color: #ffeac3;
}

.ftr-col-information ol{
	margin: 0 0 28px 0!important;
	padding: 0!important;
	list-style: none!important;
}
.ftr-col-information ol li{
	padding: 0 0 5px 15px!important;
	margin: 0!important;
	list-style: none!important;
	margin: 0!important;
	line-height: 1!important;
	color: #ffeac3;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-size: 20px;
	position: relative;
}
.ftr-col-information ol li:before{
	content: none!important;
}
.ftr-col-information ol li:after{
	position: absolute;
	content: "*";
	top: 4px;
	left: 0;
}

.ftr-col-add-details{

}
.ftr-col-add,
.ftr-col-tel{
	
}
.ftr-add-details-col{
	margin-bottom: 25px;
}
.ftr-col-information ol li a:hover,
.ftr-col-information ul li a:hover,
.ftr-add-details-col a:hover{
	color: #e0b870;
}
.ftr-add-details-col span{
	width: 100%;
	font-weight: 300;
	color: #ffeac3;
	font-family: 'Vollkorn', serif;
	font-style: italic;
}
.ftr-add-details-col a{
	display: inline-block;
	font-weight: 400;
	color: #ffeac3;
	font-family: 'Vollkorn', serif;
	text-decoration: none;
}
.ftr-col-opening-hours{

}
.ftr-col-opening-hours ul{

}
.ftr-col-normal-opening ul li,
.ftr-col-opening-hours ul li{
	padding-bottom: 25px;
	font-weight: 400;
	color: #ffeac3;
	font-family: 'Vollkorn', serif;
	line-height: 1.3;
	position: relative;
}
.ftr-col-opening-star ul li:after{
	position: absolute;
	content: "*";
	top: 6px;
	left: 0;
	color: #ffeac3;
}




.footer-btm{
	margin-top: 8px;
	border-top: 26px solid #322829;
}
.footer-btm-cntlr{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 25px 0;
}
.ftr-copyright{
	padding-right: 10px;
}
.ftr-copyright p{
	margin-bottom: 0;
	font-family: 'Vollkorn', serif;
	font-style: italic;
	font-weight: 300;
	line-height: 1;
	font-size: 22px;
	color: #312828;
}
.ftr-lang{
	margin-left: auto;
	
}
.ftr-lang.fl-lang a{
	color: #312828;
}
.ftr-lang.fl-lang a:hover{
	color: #000;
}

/*responsive*/

@media(max-width: 991px){
	.footer-top{
		padding-bottom: 25px;
	}
	.ftr-col{
		padding-right: 0;
		width: 100%;
	}
	.ftr-col-04{
		display: flex;
	}
	.ftr-col-02{
		padding-bottom: 150px;
	}
	.fl-h4.ftr-col-title{
		margin-bottom: 25px;
		font-size: 40px;
	}
	.ftr-add-details-col{
		margin-bottom: 30px;
		line-height: 1.2;
	}
	.ftr-add-details-col span,
	.ftr-add-details-col a{
		line-height: 1.2;
		font-size: 25px;
	}
	.ftr-col-information{
		padding-right: 10px;
	}
	.ftr-col-information ol:last-of-type{
		margin-bottom: 0!important;
	}
	.ftr-col-information ol li:last-child{
		padding-bottom: 0!important;
	}
	.ftr-lang{
		margin-top: auto;
	}
	.ftr-lang.ftr-lang a{
		color: #fff;
		font-size: 16px;
	}
	.ftr-copyright{
		width: 100%;
		display: block;
		text-align: center;
	}
	.ftr-copyright p{
		font-size: 21px;
	}
	.ftr-col-information ol li{
		font-size: 21px;
	}
}
@media(max-width: 767px){
	.ftr-add-details-col span,
	.ftr-add-details-col a{
		font-size: 24px;
	}
	.ftr-lang.ftr-lang a{
		font-size: 15px;
	}
	.ftr-col-information ol li{
		font-size: 20px;
	}
	.ftr-copyright p{
		font-size: 20px;
	}
	.fl-h4.ftr-col-title{
		font-size: 38px;
	}
}
@media(max-width: 479px){
	.ftr-col-04{
		display: block;
	}
	.ftr-col-information{
		padding-right: 0;
		width: 100%;
		margin-bottom: 20px;
	}
}