.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.header-inr{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.hdr-lft{
	position: absolute;
	top: 0;
	left: 0;
}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
/*.hdr-country{
	padding-right: 16px;
}
.hdr-country ul li{
	padding: 0 5px;
}
.country-item{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.country-name{
	padding-right: 12px;
	color: #fff;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-size: 15px;
	text-transform: capitalize;
	display: inline-block;
}
.country-flag{

}*/
/*language*/
.hdr-language{
	padding-right: 16px;
}
.fl-lang a,
.hdr-language a{
	display: flex;
	align-items: center;
	color: #fff;
	font-family: 'Vollkorn', serif;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: none;
}
.country-flag{
	padding-left: 10px;
}
.fl-lang a:hover,
.hdr-language a:hover{
	color: #e0b870;
}


/*language*/


.hdr-menu{
	padding: 0 32px;
	background: url('../images/menu-overlay.png');
	background-repeat: repeat;
}


nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	color: #fff;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	text-decoration: none;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -25px;
	padding-top: 10px;
}
nav.main-nav > ul > li{
	position: relative;
	padding: 0 25px;
}
nav.main-nav > ul > li:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	background: url('../images/star-icon.png');
	width: 10px;
	height: 8px;
	background-size: contain;
	margin-top: -4px;
}
nav.main-nav > ul > li:last-child:after{
	display: none;
}
nav.main-nav > ul > li > a{
	font-size: 24px;
	color: #fff;
	display: inline-block;
	text-transform: capitalize;
	padding-bottom: 10px;
}
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li.current-menu-item > a{
	color: #e0b870;
}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: transparent;
    z-index: 15;
    width: 250px;
    padding: 0 0 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    padding-top: 35px;
    padding-bottom: 10px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu:after{
	background: url('../images/bottom-arow-icon.png');
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	width: 10px;
	height: 5px;
	background-size: contain;
	content: "";
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    opacity: 1;
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	margin-bottom: 10px;
	line-height: 1;
	text-align: center;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	margin-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: inline-block;
	background: #f9dca0;
	color: #312828;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 24px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	background: #e0b870;
	color: #fff;
}


.hdr-tel{
	display: none;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	border: 2px solid #fcefd6;
	margin-right: 13px;
	background: #314827;
}
.hdr-tel a{
	display: inline-block;
}
.hamburgar-cntlr{
	display: none;
	align-items: center;
	justify-content: center;
	border: 2px solid #fcefd6;
	width: 158px;
	height: 52px;
	background: #3a3032;
	justify-content: center;
}
.hamburgar-cntlr span{
	color: #fcefd6;
	line-height: 1;
	margin-bottom: 0;
	padding-right: 5px;
	font-family: 'Archivo', sans-serif;
	font-weight: 400;
	padding-right: 13px;
	font-size: 31px;
	text-transform: uppercase;
	letter-spacing: -1.2px;
}
.hamburgar-icon{
	position: relative;
	width: 19px;
	height: 22px;
}
.hamburgar-icon span{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	background: #fcefd6;
	height: 4px;
}
.hamburgar-icon span:nth-child(2){
	top: 9px;
}
.hamburgar-icon span:nth-child(3){
	top: 18px;
}

.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
body.allWork {
    overflow: hidden!important;
}
.allWork .xs-mobile-menu {
    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background: #314827;
    width: 0;
    z-index: 99999;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 66px;
    height: 100%;
    max-width: 481px;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

body.allWork .hamburgar-cross{
	position: absolute;
	top: 30px;
	right: 20px;
	height: initial;
	width: initial;
	border: initial;
	background: initial;
}
.xs-menu{
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
/* responsive*/
@media (max-width: 1699px){
	.logo a{
		max-width: 150px;
		height: auto;
	}
	.hdr-menu{
		padding: 0 15px;
	}
	nav.main-nav > ul{
		margin: 0 -20px;
	}
	nav.main-nav > ul > li{
		padding: 0 20px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li > a,
	nav.main-nav > ul > li > a{
		font-size: 21px;
	}
}
@media (max-width: 1499px){

}
@media (max-width: 1399px){
	.hdr-menu{
		padding: 0 15px;
	}	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li > a,
	nav.main-nav > ul > li > a{
		font-size: 19px;
	}
	.hdr-language {
		padding-right: 15px;
	}
}
@media (max-width: 1299px){
	
}
@media (max-width: 1199px){
	.logo a{
		max-width: 130px;
	}
	nav.main-nav > ul{
		margin: 0 -17px;
	}
	nav.main-nav > ul > li{
		padding: 0 17px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li > a,
	nav.main-nav > ul > li > a{
		font-size: 18px;
	}
}
@media (max-width: 991px){
	.hdr-rgt{
		padding: 12px 0;
	}
	.hdr-tel{
		display: flex;
	}
	.hamburgar-cntlr{
		display: flex;
	}

	nav.main-nav > ul {
		padding: 0;
		margin: 0;
		display: block;
	}
	nav.main-nav > ul > li {
		padding: 10px 0 10px 0;
		text-align: center;
	}
	nav.main-nav > ul > li:after{
		display: none;
		content: none;
	}
	nav.main-nav > ul > li:first-child {
		padding-top: 0;
	}
	nav.main-nav > ul > li:last-child {
		padding-bottom: 0;
	}
	nav.main-nav > ul > li > a {
		font-size: 38px;
		padding-bottom: 0;
		color: #e0b86f;
		line-height: 1;
		position: relative;
	}
	nav.main-nav > ul > li > a:hover, nav.main-nav > ul > li.menu-item-has-children:hover a, nav.main-nav > ul > li.current-menu-item > a {
		color: #e0b86f;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
		position: static;
		z-index: 15;
		width: 100%;
		padding: 16px 0 0 0;
		transition: initial;
		transform: initial;
		opacity: 1;
		box-shadow: none;
		/*display: none;*/
		background: transparent!important;
		padding-bottom: 55px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu:after{
		content: none;
		display: none;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
		margin-bottom: 7px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 30px;
		color: #f3d8a6;
		background: transparent;
		padding: 0;
	}
	/*nav.main-nav > ul > li.menu-item-has-children > a:before {
		content: "";
		position: absolute;
		top: 11px;
		right: -27px;
		background-image: url(../images/xs-btm-arrow.svg);
		width: 22px;
		height: 14px;
		background-size: contain;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	nav.main-nav > ul > li.menu-item-has-children.this-sub-menu-active > a:before {
		transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
	}*/
}
@media (max-width: 575px){
	.logo a {
		max-width: 110px;
	}
	.hamburgar-cntlr span{
		font-size: 20px;
	}
	.hamburgar-cntlr{
		width: 104px;
		height: 44px;
	}
	.hdr-tel{
		height: 44px;
		width: 44px;
		margin-right: 10px;
	}
	.hdr-tel a{
		display: inline-block;
		max-width: 24px;
		height: auto;
	}
}
/*@media (max-width: 479px){
	nav.main-nav > ul > li > a{
		font-size: 28px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		padding-bottom: 40px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 24px;
	}
}*/