.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.header-inr{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.hdr-lft{
	position: absolute;
	top: 0;
	left: 0;
}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
/*.hdr-country{
	padding-right: 16px;
}
.hdr-country ul li{
	padding: 0 5px;
}
.country-item{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.country-name{
	padding-right: 12px;
	color: #fff;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-size: 15px;
	text-transform: capitalize;
	display: inline-block;
}
.country-flag{

}*/
/*language*/
.hdr-language{
	padding-right: 16px;
}

.fl-lang{
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
}
.fl-lang-cntlr{
	position: relative;
	min-height: 36px;
	margin-right: 0;
	padding-left: 0;
	min-width: 100px;
}
.fl-lang ul li.lang-active{
	position: relative;
	opacity: 1;
	padding-top: 0;
	
}
.fl-lang ul li:hover a,
.fl-lang ul li.lang-active a{
	font-size: 15px;
	color: #fff;
}
.fl-lang ul li{
	position: absolute;
	text-align: left;
	left: 0;
	right: 0;
	top: 3px;
	opacity: 0;
	z-index: 22;
}
.fl-lang ul li a{
	color: #fff;
	font-family: 'Vollkorn', serif;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	text-transform: capitalize;
	color: #e0b870;
}
.fl-lang-cntlr:after{
	background-image: url('../images/bottom-arrow.svg');
	background-repeat: no-repeat;
	content: "";
	width: 11px;
	height: 7px;
	background-size: contain;
    padding-right: 0;
    position: absolute;
    top: 20px;
    right: 31px;
    z-index: 21;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.fl-lang-cntlr:hover:after{
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.fl-lang ul li a:hover,
.hdr-wishlist-btn strong:hover,
.hdr-search button:hover{
	/*color: #FF674D;*/
	opacity: 0.8;
}
.fl-lang-cntlr ul{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 20;	
}
.fl-lang-cntlr:hover ul{
	background-color: transparent;
	/*-webkit-box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	-moz-box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);*/
	text-align: left;
}
.fl-lang-cntlr:hover{
	overflow: initial;
}
.fl-lang-cntlr:hover li.lang-active,
.fl-lang-cntlr:hover li{
	position: relative;
	opacity: 1!important;
	padding-top: 0;
	padding-right: 22px;
}
.country-flag{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	height: 19px;
	width: 33px;
}


/*language*/


.hdr-menu{
	padding: 0 32px;
	background: url('../images/menu-overlay.png');
	background-repeat: repeat;
}


nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	color: #fff;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -25px;
	padding-top: 10px;
}
nav.main-nav > ul > li{
	position: relative;
	padding: 0 25px;
}
nav.main-nav > ul > li:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	background: url('../images/star-icon.png');
	width: 10px;
	height: 8px;
	background-size: contain;
	margin-top: -4px;
}
nav.main-nav > ul > li:last-child:after{
	display: none;
}
nav.main-nav > ul > li > a{
	font-size: 24px;
	color: #fff;
	display: inline-block;
	text-transform: capitalize;
	padding-bottom: 10px;
}
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li.current-menu-item > a{
	color: #e0b870;
}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: transparent;
    z-index: 15;
    width: 250px;
    padding: 0 0 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    padding-top: 35px;
    padding-bottom: 10px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu:after{
	background: url('../images/bottom-arow-icon.png');
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	width: 10px;
	height: 5px;
	background-size: contain;
	content: "";
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    opacity: 1;
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	margin-bottom: 10px;
	line-height: 1;
	text-align: center;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	margin-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: inline-block;
	background: #f9dca0;
	color: #312828;
	padding: 12px 20px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	background: #e0b870;
	color: #fff;
}