.hm-page-bnr-cntlr{
	position: relative;
	text-align: center;
}
.hm-page-banner{
	height: 735px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hm-page-bnr-des{
	position: relative;
	z-index: 3;

}
.hm-page-bnr-des-inr{
	color: #fff;
	position: relative;
}


.hm-page-bnr-des{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 35px;
	background: url('../images/hm-page-bnr-des-img.png');
	background-size: cover!important;
	background-position: center center!important;
	color: #fff;
	text-align: right;
}
.hm-page-bnr-des-inr div{
	padding-top: 10px;
}
.hm-page-bnr-title{
	margin-bottom: 10px;
}





.hm-lftdes-rgtimg-sec{
	padding: 50px 0 80px;
}

.hm-lft-des{
	float: left;
	width: 50%;
	padding-right: 40px;
}
.hm-rgt-img{
	float: right;
	width: 50%;
}




.hm-lftimg-rgtdes-sec{
	padding-bottom: 50px;
}
.hm-lftimg-rgtdes-sec-inr{
	max-width: 1240px;
	width: 100%;
	display: flex;
	align-items: center;
}
.hm-lft-img{
	width: 36%;
	position: relative;
	z-index: 2;
	margin-left: -20px;
}
.hm-rgt-des{
	width: 64%;
	position: relative;
	z-index: 1;
	color: #fff;
	background: #314827;
	margin-left: -73px;
	padding: 0px 20px 0px 120px;
}
.hm-des-top{
	position: absolute;
	top: 0;
	left: -27px;
	right: -18px;
	background: url('../images/hm-des-top.png');
	background-size: 100% 100%!important;
	background-position: center center!important;
	height: 70px;
	margin-top: -69px;
}
.hm-des-rgt{
	position: absolute;
	top: -36px;
	bottom: -27px;
	right: 0;
	background: url('../images/hm-des-rgt.png');
	background-size: 100% 100%!important;
	background-position: center center!important;
	width: 50px;
	margin-right: -13px;
}
.hm-des-btm{
	position: absolute;
	bottom: 0;
	left: -41px;
	right: -25px;
	background: url('../images/hm-des-btm.png');
	background-size: 100% 100%!important;
	background-position: center center!important;
	height: 55px;
	margin-bottom: -54px;
}
.hm-rgt-des-inr{
	position: relative;
	z-index: 9;
}
.hm-lft-img img{
	width: 100%;
}



.hm-content-sec{
	padding: 30px 0;
	min-height: 300px;
}



@media(max-width: 1699px){
	.hm-lft-des{
		padding-right: 20px;
	}
}
@media(max-width: 1399px){
	/*.hm-page-banner{
		height: 620px;
	}*/
	.hm-lft-des{
		padding-right: 0;
	}
	.hm-rgt-des{
		padding-left: 80px;
	}
	.hm-lftimg-rgtdes-sec-inr{
		max-width: 100%;
	}
}
@media(max-width: 1199px){
	/*.hm-page-banner {
	    height: 500px;
	}*/
	.hm-des-top{
		left: -27px;
    	right: -18px;
    	height: 50px;
    	margin-top: -49px;
	}
	.hm-des-btm{
		left: -41px;
	    right: -23px;
	    height: 45px;
	    margin-bottom: -45px;
	}
	.hm-des-rgt{
		top: -27px;
    	bottom: -24px;
        width: 40px;
    	margin-right: -13px;
	}
}
@media(max-width: 991px){
	/*.hm-page-banner {
	    height: 450px;
	}*/
	.hm-page-bnr-des{
		bottom: 30px;
	}
	.hm-lft-des,
	.hm-rgt-img{
		width: 100%;
	}
	.hm-rgt-img{
		padding-bottom: 20px;
	}
	.hm-rgt-img-inr{
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.hm-lft-img{
		width: 40%;
	    margin-left: -10px;
	}
	.hm-rgt-des{
		width: 60%;
		padding-left: 30px;
	    margin-left: -25px;
	}
	.hm-des-top{
		left: -11px;
	    right: -18px;
	}
	.hm-des-btm {
	    left: -17px;
	    right: -17px;
	}
	/*.hm-lftimg-rgtdes-sec-inr{
		display: block;
	}*/
	/*.hm-lft-img{
		width: 100%;
		margin-left: 0;
	}*/
	/*.hm-rgt-des{
		width: 100%;
		padding-left: 15px;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}*/
	/*.hm-des-rgt{
		display: none;
	}
	.hm-des-top{
		left: -19px;
    	right: -27px;
	}
	.hm-des-btm{
		left: -28px;
    	right: -23px;
	}*/
}
@media(max-width: 767px){
	.hm-page-banner {
	    height: 400px;
	}
	.hm-rgt-des{
		width: 100%;
		margin-left: 0;
	}
	.hm-rgt-des-ctlr{
		margin-left: -20px;
		margin-right: -20px;
	}
	.hm-des-top {
	    left: -15px;
	    right: 0;
	}
	.hm-des-btm {
	    left: -20px;
	    right: 0;
	}
}
@media(max-width: 575px){
	.hm-page-banner {
	    height: 370px;
	}
	.hm-page-bnr-des{
		bottom: 25px;
	}
}

@media(max-width: 479px){
	.hm-page-bnr-title{
		font-size: 33px!important;
	}
}