.hm-page-bnr-cntlr{
	position: relative;
	text-align: center;
}
.hm-page-banner{
	height: 735px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hm-page-bnr-des{
	position: relative;
	z-index: 3;

}
.hm-page-bnr-des-inr{
	color: #fff;
	position: relative;
}


.hm-page-bnr-des{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 35px;
	background: url('../images/hm-page-bnr-des-img.png');
	background-size: cover!important;
	background-position: center center!important;
	color: #fff;
	text-align: right;
}
.hm-page-bnr-des-inr{
	padding-top: 10px;
}
.hm-page-bnr-title{
	margin-bottom: 10px;
}





.hm-lftdes-rgtimg-sec{
	padding: 50px 0 80px;
}

.hm-lft-des{
	float: left;
	width: 50%;
	padding-right: 40px;
}
.hm-rgt-img{
	float: left;
	width: 50%;
}




.hm-lftimg-rgtdes-sec{
	padding-bottom: 50px;
}
.hm-lftimg-rgtdes-sec-inr{
	padding-right: 140px;
	display: flex;
	align-items: center;
}
.hm-lft-img{
	width: 36%;
	position: relative;
	z-index: 2;
}
.hm-rgt-des{
	width: 64%;
	position: relative;
	z-index: 1;
	color: #fff;
	background: #314827;
	margin-left: -25px;
	padding: 30px 20px 30px 60px;
}
.hm-des-top{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url('../images/hm-des-top.png');
	background-size: 100% 100%!important;
	background-position: center center!important;
}
.hm-lft-img img{
	width: 100%;
}



@media(max-width: 1699px){
	.hm-lft-des{
		padding-right: 20px;
	}
}
@media(max-width: 1399px){
	/*.hm-page-banner{
		height: 600px;
	}*/
	.hm-lft-des{
		padding-right: 0;
	}
	.hm-rgt-des{
		padding-left: 40px;
	}
}
@media(max-width: 1199px){
	
}
@media(max-width: 991px){
	
}
@media(max-width: 767px){
	
}
@media(max-width: 575px){
	
}