.page-banner-cntlr{
	position: relative;
	text-align: center;
}
.page-banner{
	height: 335px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.page-bnr-des{
	position: relative;
	z-index: 3;

}
.page-bnr-des-inr{
	color: #fff;
	position: relative;
}






.page-content-sec{
	padding: 60px 0;
	min-height: 500px;
}



@media(max-width: 1399px){
	.page-content-sec {
	    padding: 50px 0;
	}
}

@media(max-width: 991px){
	.page-banner{
		height: 300px;
	}
	.page-content-sec {
	    padding: 40px 0;
	}
}
@media(max-width: 767px){
	.page-banner{
		height: 250px;
	}
	.page-content-sec {
	    padding: 30px 0;
	}
}




