.page-banner-cntlr{
	position: relative;
	text-align: center;
}
.page-banner{
	height: 335px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*.bnr-bg-overly{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(14, 14, 14, 0.53);
	z-index: 2;
}*/
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.page-bnr-des{
	position: relative;
	z-index: 3;

}
.page-bnr-des-inr{
	color: #fff;
	position: relative;
}



.breadcrumb-sec{
	background: #312828;
	padding: 10px 0;
}

.breadcrumb-sec-inr ul {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}
.breadcrumb-sec-inr ul li {
    padding: 0 10px;
    position: relative;
    line-height: 0!important;
}
.breadcrumb-sec-inr ul li:after {
    position: absolute;
    content: ">";
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    margin-top: 1px;
    color: #b9a98e;
    font-size: 11px;
}
.breadcrumb-sec-inr ul li:first-child:after{
	display: none;
}
.breadcrumb-sec-inr ul li a {
    position: relative;
}
.breadcrumb-sec-inr ul li.home a,
.breadcrumb-sec-inr ul li:first-child a{
	padding-left: 22px;
}
.breadcrumb-sec-inr ul li.home a:after,
.breadcrumb-sec-inr ul li:first-child a:after{
	position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 8px;
    width: 10px;
    margin-top: -1px;
    background-size: contain;
    background-image: url(../images/star-icon.png);
}
.breadcrumb-sec-inr ul li a, 
.breadcrumb-sec-inr ul li span, 
.breadcrumb-sec-inr ul li a span {
	display: inline-block;
	vertical-align: baseline;
	font-weight: 300;
	font-size: 12px;
	line-height: 1;
	color: #b9a98e;
}
.breadcrumb-sec-inr ul li a:hover, 
.breadcrumb-sec-inr ul li span:hover, 
.breadcrumb-sec-inr ul li a span:hover {
    color: #fff;
}