.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}

/*list style */
.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 0;
}
.default-page-con ul li,
ul li {
	padding: 2px 0 6px 22px;
	position: relative;
	line-height: 22px;
}

.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
	background: #1A7ABE;
	border-radius: 100%;
	margin-top: 8px;
}
ul li.refGridItem:before{
	display: none;
}
.default-page-con ol, ol {
	padding: 0 0 0 0;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
	padding-left: 17px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding: 2px 0 6px 20px;
	line-height: 24px;
	position: relative;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #1A7ABE;
	font-weight: 700;
	text-align: center;
	line-height: 16px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 6px;
}



.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}
/* ===================== */
/*== pagination start ==*/
/* =================== */
.fl-pagi-cntlr{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}
.fl-pagi-cntlr ul, .fl-pagi-cntlr ul li{
	display: flex;
}
.fl-pagi-cntlr ul li span{
	font-weight: 500;
	font-size: 16px;
	padding: 2px;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.fl-pagi-cntlr ul li:first-child span,
.fl-pagi-cntlr ul li:first-child a{
	border-left: 1px solid #000;
}
.fl-pagi-cntlr ul li a,
.page-numbers.dots,
.fl-pagi-cntlr ul li span{
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.fl-pagi-cntlr .prev{
	border-left: 1px solid #000;	
}
.fl-pagi-cntlr ul li a,
.page-numbers.dots{
	font-weight: 500;
	font-size: 16px;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #1a67b0;
	padding: 2px;
}
.fl-pagi-cntlr ul li a:hover,
.fl-pagi-cntlr ul li span:hover{
	color: #303037;
	background: #fff;
}
.page-numbers.current{
	background: #d0d0d0;
}
.fl-pagi-cntlr .prev, .fl-pagi-cntlr .next{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px!important;
}
.fl-pagi-cntlr .prev:after{
	position: absolute;
	content: "";
	background-image: url('../images/pagi-prev.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 7px;
}
.fl-pagi-cntlr .next:after{
	position: absolute;
	content: "";
	background-image: url('../images/pagi-next.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 7px;
}
.fl-pagi-cntlr .prev:hover,
.fl-pagi-cntlr .next:hover{
	background: #303037!important;
	/* border: 1px solid #fff; */
}
.opacity{
	opacity: .5;
}
/*== pagination end ==*/


/**
---------------------
Start blog
---------------------
*/
.page-content{
	padding: 0 0 150px;
}
.page-404-wrp {
    margin-top: 40px;
}

/* 
404
 */
.page-404 {
    min-height: 400px;
}
.page-404 h1{
	font-size: 73px;
}
.page-404 h3{
	font-size: 28px;
}

/* index page */
.posts-section{
	padding-top: 0;
}
.post-sec-cntrl{
	display: flex;
}
.post-items{
	max-width: 70%;
	width: 1000%;
	order: 2;
}
.post-img a{
	display: block;
}
.post-img a img{
	width: 100%;
}
.post-item{
	padding-bottom: 45px;
}
.post-img {
    float: left;
    width: 15%;
    margin-right: 3%;
    margin-bottom: 25px;
}
.post-des{
	float: left;
	width: 80%;
	line-height: 20px;
}
.right-sidebar{
	padding-right: 40px;
	max-width: 30%;
	width: 100%;
	order: 1;
}

.sidebar-widget{
	padding-bottom: 40px;
	color: #1c2b35
}
.post-des h4,.sidebar-widget h4{
	margin: 0;
	padding-bottom: 10px;
	margin-top: -3px
}
.post-des h4 a{
    color: #303037;
}
.post-des h4 a:hover{
    color: #e61c29;
}
.sidebar-widget h4{
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}
.sidebar-widget ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-widget ul li{
	padding-bottom: 5px;
	font-size: 16px;
}
.sidebar-widget ul li a{
	color: inherit;
}

.sp-detail{
	width: 70%;
	margin-right: 0;
}
.post-des.sp-detail{
	padding-bottom: 15px;
}
/*search*/
.search-form label{
	display: block;
	position: relative;
}
.right-sidebar .sidebar-widget{
	position: relative;
	margin-bottom: 40px;
}
.right-sidebar  .sidebar-widget input[type="search"]{
	border: 1px solid #E6E6E6;
	padding: 8px 10px 8px 40px;
	width: 100%;
	height: 40px;
	border-radius: none;
	margin-top: 0;
	font-size: 15px;
}
.search input[type="search"]:focus{
	border: 1px solid #000;
	border-radius: 2px;
}
.right-sidebar .sidebar-widget input[type="submit"]{
	position: absolute;
	background: url(../images/search-icon.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	border: 0;
	left: 14px;
	top: 12px;
	margin-top: 0;
	cursor: pointer;
	text-indent: -99999px;
	font-size: 0;
	line-height: 0;
}

.right-sidebar .screen-reader-text{
	display: none;
}
.right-sidebar .sidebar-widget label{
	width: 100%;
}

